/*!
 * Start Bootstrap - SB Admin 2 v3.3.7+1 (http://startbootstrap.com/template-overviews/sb-admin-2)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  background-color: #f8f8f8;
}
#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}
.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #eeeeee;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999999;
}
.chat li.left .chat-body {
  margin-left: 60px;
}
.chat li.right .chat-body {
  margin-right: 60px;
}
.chat li .chat-body p {
  margin: 0;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}
.login-panel {
  margin-top: 25%;
}
.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}
table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}
.show-grid {
  margin: 15px 0;
}
.huge {
  font-size: 40px;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
.timeline {
  position: relative;
  padding: 20px 0 20px;
  list-style: none;
}
.timeline:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  margin-left: -1.5px;
  background-color: #eeeeee;
}
.timeline > li {
  position: relative;
  margin-bottom: 20px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  float: left;
  position: relative;
  width: 46%;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 26px;
  right: -15px;
  border-top: 15px solid transparent;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ccc;
}
.timeline > li > .timeline-panel:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 27px;
  right: -14px;
  border-top: 14px solid transparent;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #fff;
}
.timeline > li > .timeline-badge {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  font-size: 1.4em;
  line-height: 50px;
  color: #fff;
  background-color: #999999;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(10%);
    width: -moz-calc(10%);
    width: -webkit-calc(10%);
  }
  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 15px;
    margin-left: 0;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
}

/*custom*/
/*#login-body{
  margin-top: 20%;
}
.login-field{
  width: 60%;
}*/

.heading-field{
  background-color: #990000;
  color: white;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.btn-mibs{
  background-color: #990000;
  color: white;
  border: 1px solid;
}
.btn-mibs:hover{
  color: white;
  background-color: #c52020;
}
.btn>.btn-mibs:focus{
  color: white;
}

/*slider_view*/
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
p a{
  margin-left: 10px;
  padding: 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: -10px;
  border-bottom-right-radius: -10px;
}
.slider-konten{
  margin-top: 50px;
  animation: fade .6s ease-in;
}
@keyframes fade{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
.btn-slider{
  color: black;
  border-bottom: 2px black solid;
  transition: 0.5s;
}
.btn-slider:hover,.btn-slider:focus{
  color: black;
  text-decoration: none;
  border-top: 1px black solid;
  border-left: 1px black solid;
  border-right: 1px black solid;
  transition: 0.5s;
}
 p a:focus,.btn-slider.active{
  border-top: 1px black solid;
  border-left: 1px black solid;
  border-right: 1px black solid;
 }
#addSlider form{
  padding-left: 20px;
}
.slider-add{
  background-color: #f2f2f2;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
  padding: 10px;
  margin-bottom: 20px;
}
.slider-add:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}
.slider-caption{
  width: 80%;
  max-width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.slider-add h3{
  border-bottom: 3px #808080 solid;
  color: #808080;
}
.btn-group-slider input{
  background-color: #4d4dff;
  outline: none;
  border: 1px #0000ff solid;
  border-radius: 5px;
  margin-right: 10px;
  color: white;
}
.btn-group-slider input:hover{
  background-color: #000099;
 }
.btn-group-slider input[type="reset"]{
  background-color: #ff6666;
  border: 1px #ff0000 solid;
 }
 .btn-group-slider input[type="reset"]:hover{
  background-color: #b30000;
 }

/*Pesan masuk*/
.inbox{
  margin-bottom: 40px;
}
.modal-dialog {
      width: 100%;
      height: 100%;
      padding: 0;
      margin:0;
}
.modal-content {    
      height: 100%;
      border-radius: 0;
      color:#23527c;
      overflow:auto;
}
.modal-header{
  color: #23527c;
}
 .close
    {
      color:#23527c ! important;
      opacity:1.0;
    } 
    .big-box h2
    {
      text-align: center;
      margin-top: 20%;
      padding: 20px;
      width: 100%;
      font-size: 1.8em;
      letter-spacing: 2px;
      font-weight: 700;
      text-transform: uppercase;
    cursor:pointer;
    }
  
    @media screen and (max-width: 46.5em) 
    {
      .big-box h2
      {
        font-size:16px;
        padding-left:0px;
        
      }
    }

    @media screen and (max-width: 20.5em) 
    {
      .big-box h2
      {
        font-size:12px;
        padding-left:0px;
        margin-top:30%;
        }
    }
    .modal-title
    {
      font-size: 3em;
      font-weight: 300;
      margin: 0 0 20px 0;
    }
    .modal-content-one
    {
      background-color:#f2f2f2;
    }
.msg-modal{
  margin-left: 50px;
  margin-right: 50px;
}
.msg-view-txt{
  padding: 5px;
  background-color: white;
  border: 1px #a6a6a6 solid;
  border-radius: 6px;
}
.msg-view-area{
  padding: 5px;
   background-color: white;
  border: 1px #a6a6a6 solid;
  border-radius: 6px;
  max-height: 230px;
  overflow-y: scroll;
}

/*testimoni*/
.testi-add{
  background-color: #f2f2f2;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
  padding: 10px;
  margin-bottom: 20px;
}
.testi-add input[type="text"]{
  width: 80%;
  border-radius: 6px;
}

/*pengaturan -front*/
.selector-front{
  position: relative;
background-color: #f8f8f8;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #999;
border: 1px solid rgba(0, 0, 0, .2);
border-radius: 6px;
outline: 0;
}
.msg-modal{
  margin-left: 50px;
  margin-right: 50px;
}
.edit-view-txt input{
  padding: 5px;
  background-color: white;
  border: 1px #a6a6a6 solid;
  border-radius: 6px;
  min-width: 80%;
  max-width: 100%
}
.edit-view-area textarea{
  padding: 5px;
   background-color: white;
  border: 1px #a6a6a6 solid;
  border-radius: 6px;
  min-height: 230px;
  overflow-y: scroll;
  min-width: 80%;
  max-width: 100%
}

.edit-view p input{
  background-color: #4d4dff;
  outline: none;
  border: 1px #0000ff solid;
  border-radius: 5px;
  margin-right: 10px;
  color: white;
}
.tab-info{
  display: inline-block;
  margin-left: 20px;
}
.web-info{
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 5%;
}
.web-info-sc{
  width: 150px;
}
.web-info input[disabled]{
  background-color: white;
  outline: none;
  border-bottom: 2px black solid;
  border-top: none;
  border-right: none;
  border-left: none;
  min-width:200px;
  cursor: no-drop; 
}
.web-info-edit input{
  width: 200px;
  outline: none;
  border-bottom: 2px black solid;
  border-left: none;
  border-top: none;
  border-right: none;
}
.web-info-edit input:focus{
  width: 200px;
  outline: none;
  border-bottom: 2px black solid;
  border-left: none;
  border-top: none;
  border-right: none;
}

.web-info-edit input[type="submit"]{
  padding: 5px;
  background-color: #4d4dff;
  border: 1px #0000ff solid;
  color: white;
  width: auto;
}
.web-info-edit input[type="button"]{
  padding: 5px;
  background-color: #4d4dff;
  border: 1px #0000ff solid;
  color: white;
  width: auto;
}
.web-info input[type="button"]{
  padding: 5px;
  background-color: #4d4dff;
  border: 1px #0000ff solid;
  color: white;
  width: auto;
}
.web-info-edit{
  margin-top: 20px;
  margin-left: 5%;
  margin-bottom: 30px;
}

/*user profile*/
.profile-selector{
  border-radius: 5px;
  border: 1px grey solid;
  background-color: grey;
}
.profile-selector h4{
  padding-left: 20px;
  color: white;
}
.pro-isi{
  background-color: white;
  padding: 30px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pro-isi input{
  width: 300px;
  border-radius: 4px;
  border: 1px grey solid;
  padding: 3px;
}
.pro-isi input:hover, .pro-isi input:focus{
  border: 1px blue solid;
}
.pro-isi input[type="submit"]{
  width: auto;
  border-radius: 4px;
  border: 1px blue solid;
  background-color: blue;
  color: white;
  padding: 5px;
}
.pro-isi input[type="button"]{
  width: auto;
  border-radius: 4px;
  border: 1px blue solid;
  background-color: blue;
  color: white;
  padding: 5px;
  margin-left: 10px;
}
.pro-isi input[type="submit"]:hover{
  background-color: white;
  color: blue;
}

.pro-isi-btn input[type="button"]{
  width: auto;
  border-radius: 4px;
  border: 1px blue solid;
  background-color: blue;
  color: white;
  padding: 5px;
  margin-top: 10px;
}

/*collection*/
.colect-add input{
  border-radius: 4px;
  border: 1px grey solid;
  padding: 3px;
}
.colect-add input:hover, .colect-add input:focus{
  border: 1px blue solid;
}
.colect-add select{
  width: 80%;
  padding: 4px;
  border-radius: 5px;
  border: 1px grey solid;
}
.colect-add textarea{
  min-width: 80%;
  max-width: 100%;
  min-height: 200px;
  border: 1px grey solid;
  border-radius: 5px;
}

/*penerbit & kategori*/
.add-penerbit input {
  padding: 5px;
  border: 1px grey solid;
}
.add-penerbit form{
  margin-left: 15px;
  width: 80%;
  margin-left: 10%;
}
.add-penerbit input[type='text']{
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
width: 80%;
  border-right: transparent;
}
.add-penerbit input[type='submit']{
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #66b3ff;
  color: white;
  border:1px #3399ff solid;
}
.add-penerbit input[type='submit']:hover{
  background-color: #0073e6;
}
.penerbit-col h4{
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e6e6e6;
  margin-top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.penerbit-col{
  border: 1px #e6e6e6 solid;
  border-radius: 10px;
}
.tabel-penerbit{
  margin-top: 20px;
  width: 90%;
  margin-left :5%;
}