body {
	margin: 0;
	-webkit-animation: bugfix infinite 1s;
}
 
@-webkit-keyframes bugfix { 
  from {padding:0;} 
  to {padding:0;} 
}

nav {
  position: fixed;
  left: -75%;
  width: 75%;
  height: 100%;
  padding: 5em 0 0 0;
  background: #990000;
 
  -webkit-transition: left 0.5s;
     -moz-transition: left 0.5s;
      -ms-transition: left 0.5s;
       -o-transition: left 0.5s;
          transition: left 0.5s;
}
.close {
  cursor: pointer;
  color: white;
  opacity: 1;
  position: fixed;
  font-size: 40px;
  margin-top: -45px;
}
 
.close:hover {
  color: white;
  opacity: 0.8;
  position: fixed;
}
 
.close span {
  border-radius: 50%;
  padding: 0.2em 0.4em;
}
#toggle {
  position: absolute;
  left: -999em;
}
#nav {
  margin: 0.1875em 0 0 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #777;
}
         
#nav a {
  text-decoration: none;
  color: #fff;
  padding: 1em 0 1em 5%;
  display: block;
  height: 4em;
  background-color: #990000;
}
 
#nav a:hover {
  border-bottom: 5px white solid;
	padding-bottom: 15px;
}
.wrapper {
  width: 100%;
  overflow: hidden;
}
 
.inner {
  float: right;
  width: 100%;
 
  -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
      -ms-transition: 0.5s;
       -o-transition: 0.5s;
          transition: 0.5s;
}
:checked ~ nav {
  left: 0;
}
     
:checked ~ nav .close {
  position: fixed;
  top: 1.5em;
  left: 4%;
  position: fixed;
}
:checked ~ .wrapper .inner {
  margin-right: -75%;
}
@media screen and (min-width: 45em) {
  header {
    padding-bottom: 5em;
    background-color: #990000;
    z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 71px;
  }
   
  .title{
  		color: white;
  		display: inline;
  		float: left;
  	}
  	.title img{
  		height: 50px;
  		text-align: center;
  		margin-top: 10px;
  		margin-left: 10px;
  	}
     
  .btn {
    display: none;
  }
}
@media screen and (min-width: 45em) {
  :checked ~ .wrapper .inner {
    margin-right: 0%;
    -webkit-transition: 0;
       -moz-transition: 0;
        -ms-transition: 0;
         -o-transition: 0;
            transition: 0;
  }
}
@media screen and (min-width: 45em) {
  nav,
  :checked ~ nav {
    float: right;
    position: static;
    background: transparent;
    padding: 0;
    height: auto;
    width: 100%;
    -webkit-transition: 0;
       -moz-transition: 0;
        -ms-transition: 0;
         -o-transition: 0;
            transition: 0;
  }
}
@media screen and (min-width: 45em) {
  nav .close,
  :checked ~ nav .close {
    display: none;
    position: fixed;
    font-size: 40px;
  }
}
@media screen and (min-width: 40em) {
  #nav {
    position: fixed;
    top: 1.5em;
    right: 2%;
    border: 0;
    z-index: 1000;
  }
             
  #nav li {display: inline; float: left;}
  #nav li.current a {
  	color: #fff;
	padding-bottom: 15px;
	border-bottom: 5px white solid;
}
             
  #nav a {
    padding: 0 1.5em;
    display: inline;
    border: 0;
    background: transparent;
  }
                 
  #nav a:hover {background: transparent;}
 
  #sidebar {
    margin-top: 5.5em;
  }
}
@media screen and (max-width: 45em){
	.header{
		padding-bottom: 10px;	
	    background-color: #990000;
	    padding-top: 10px;
	    z-index: 9999; 
	    position: fixed; 
	    left: 0; 
	    top: 0; 
	    width: 100%;
	}
	.header .f-header{
		z-index: 9999; 
	    position: fixed; 
	    left: 0; 
	    top: 0; 
	    width: 100%;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.glyphicon {
    	color: white;
  	}
  	.btn{
  		color: white;
  		font-size: 30px;
  		padding: 0;
  		margin: 5px;
  	}
  	.title{
  		color: white;
  		display: inline;
  	}
  	.title img{
  		height: 50px;
  		text-align: center;
  		margin-left: 30%;
  	}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
:checked ~ nav {
  left: 0;
}
     
:checked ~ nav .close {
  position: fixed;
  top: 1.5em;
  left: 4%;
  position: fixed;
}
:checked ~ .wrapper .inner {
  margin-right: -75%;
}
}

/*Akhir dari Header Navbar*/

/*Awal dari section 1*/
.section1{
	background-color: #f2f2f2;
	/*height: 150px;*/
	border-bottom: 3px #bfbfbf solid;
	margin-top: 71px;
}
@media screen and (max-width: 45em){
	.section1{
	background-color: #f2f2f2;
	/*height: 150px;*/
	border-bottom: 3px #bfbfbf solid;
	margin-top: 71px;
	}
}
.logo-red{
	display: inline-block;
}
.logo-red img{
	height: 90px;
	margin: 20px;
}
.indentitas{
	position: relative;
	margin-top: 5px;
	margin-left: 10px;
}
.indentitas img{
	height: 30px;
}
.identitas-utama{
	display: inline-block;
}
.search-form input{
	background-color: white;
	border: 2px #e6e6e6 solid;
	border-radius: 5px;
	width: 75%;
}
.search-form input:hover, input:active{
	background-color: white;
	border: 2px #e6e6e6 solid;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}
.search-form button{
	background-color: #990000;
	border: none;
	padding: 2px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}
.search-form button:hover{
	background-color: black;
	border: none;
	padding: 2px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*content 1 mulai */

.content1{
  margin-top: 20px;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  text-align: -ms-center;
}

/*Featured books*/
.featured-book{
  background-color: #f2f2f2;
  border-bottom: 10px #990000 solid;
}
.featured-book h3{
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
}
.featured-book h5{
  color: #990000;
   padding-left: 20px;
  padding-bottom: 20px;
}
.catalog-text h4{
  font-weight: bold;
  text-decoration: underline;
  padding-left: 20px;
  padding-top: 10px;
}
.featured-book-1{
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-bottom: 15px;
}
.featured-book-img{
  height: 100px;
  width: auto;
  max-width: 75px;
  max-height: 100px;
  display: inline-block;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}
.featured-book-img img{
  height: 70px;
}
.featured-book-content{
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}

/*About && testi */
.section-about{
  background-color: #f2f2f2;
  border-top: 5px #990000 solid;
}
.section-about-block{
  display: inline-block;
  text-align: center;
}
.section-about-block p{
  color: #990000;
}
.section-about .carousel-indicators .active{
  background-color: #990000;
  border-color: #990000;
}
.section-about .carousel-indicators{
  position: relative;
  margin-top: 15px;
}
.section-about .carousel-indicators li{
  border-color: #990000;
}

/*footer */
.footer-1{
  background-color: #1a1a1a;
}
.footer-1 img{
  height: 30px;
  padding: 3px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer-1 h4{
  display: inline-block;
  float: right;
  color: #990000;
  margin: 10px;
}

@media screen and (max-width: 45em){
    .footer-1 img{
       height: 20px;
        padding: 2px;
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
  .footer-1 h4{
    display: inline-block;
    float: right;
    color: #990000;
    margin: 10px 10px 0 0;
    font-size: 13px;
    }
  }

  .footer-2{
    background-color: #990000;
  }
  .footer-2 h5{
    color: white;
  }
  .footer-2 .btn{
    display: block;
  }
  .contact-form{ margin-top:15px;}
.contact-form .textarea{ min-height:220px; resize:none;}
.form-control{ box-shadow:none; border-color:#eee;}
.form-control:focus{ box-shadow:none; border-color:#00b09c;}
.form-control-feedback{ line-height:50px;}
.main-btn{ background:#990000; border-color:white; color:white;}
.main-btn:hover{ background:white;color:#990000;}
.form-control-feedback {
line-height: 50px;
top: 0px;
}
@media screen and (max-width: 45em){
    .btn{
      font-size: 15px;
      padding: 5px;
    }
  }

.maps{
  margin-top: 10px;
}
.maps h5{
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

/*modal home*/
.modal-dialog {
      width: 103%;
      height: 100%;
      padding: 0;
      margin:0;
}
.modal-content {    
      height: 100%;
      border-radius: 0;
      color:#23527c;
      overflow:auto;
}
.modal-header{
  color: #23527c;
}
 .close
    {
      color:#23527c ! important;
      opacity:1.0;
    } 
    .big-box h2
    {
      text-align: center;
      margin-top: 20%;
      padding: 20px;
      width: 100%;
      font-size: 1.8em;
      letter-spacing: 2px;
      font-weight: 700;
      text-transform: uppercase;
    cursor:pointer;
    }
  
    @media screen and (max-width: 46.5em) 
    {
      .big-box h2
      {
        font-size:16px;
        padding-left:0px;
        
      }
    }

    @media screen and (max-width: 20.5em) 
    {
      .big-box h2
      {
        font-size:12px;
        padding-left:0px;
        margin-top:30%;
        }
    }
    .modal-title
    {
      font-size: 3em;
      font-weight: 300;
      margin: 0 0 20px 0;
    }
    .modal-content-one
    {
      background-color:#f2f2f2;
    }
.msg-modal{
  margin-left: 50px;
  margin-right: 50px;
}
.msg-view-txt{
  padding: 5px;
  background-color: white;
  border: 1px #a6a6a6 solid;
  border-radius: 6px;
}
.hlm-view-area{
  padding: 5px;
  border-radius: 6px;
  max-height: 450px;
  overflow-y: scroll;
}

button.close{
  right: 30px;
}
.hlm-view{
  max-width: 1300px;
}